<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
]>
<root id="-1">
  <homepage id="1057" key="0e313f94-dc2a-4153-8c70-2f41c30f01a6" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-03-21T12:23:37" updateDate="2018-03-23T18:20:16" nodeName="Homepage" urlName="homepage" path="-1,1057" isDoc="" nodeType="1052" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1051" nodeTypeAlias="homepage" isPublished="true">
    <metaDescription><![CDATA[This is Aarhus web development website]]></metaDescription>
    <metaKeywords><![CDATA[Aarhus web development website]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <pageTitle><![CDATA[The hierarchy of needs in virtual reality development]]></pageTitle>
    <bodyText><![CDATA[<p id="6c1d" class="graf graf--p graf-after--h2">There’s a certain anxiety in the VR community that surfaces in many conference panels and interviews with industry leaders: plenty of veterans are worried that this latest flowering of the technology will end with the same commercial disappointment that we saw in previous decades. This is often framed in terms of<span> </span><em class="markup--em markup--p-em">quality</em>, the fear being that VR systems and content will be pushed into the mainstream market before the kinks are worked out. Users will have unpleasant, confusing, or underwhelming first experiences, and the whole sector will suffer a(nother) fatal backlash.</p>
<p class="graf graf--p graf-after--h2"><img style="width: 0px; height: 0px;" src="/nothing.jpg" alt="" data-udi="umb://media/6f0ba477a7d44007b5880e629bf64925" /></p>
<p id="1421" class="graf graf--p graf-after--p">But what does quality mean in VR? Can we break this concept down into smaller pieces? Who is responsible for each aspect of quality, and what parts of the technology stack are implicated in each one? Most importantly, how can a better understanding of these issues help us to produce more effective and successful VR experiences?</p>]]></bodyText>
    <footerText><![CDATA[Copyright 2018]]></footerText>
    <siteTitle><![CDATA[Aarhus Web Developer Corporation]]></siteTitle>
    <logo><![CDATA[umb://media/d37306fc005541a1aa72b3f0faf1348e]]></logo>
    <articlesMain id="1073" key="be21dabb-d385-4b07-9b98-7236717c7025" parentID="1057" level="2" creatorID="0" sortOrder="1" createDate="2018-03-21T13:29:20" updateDate="2018-03-21T21:53:59" nodeName="News" urlName="news" path="-1,1057,1073" isDoc="" nodeType="1069" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1068" nodeTypeAlias="articlesMain" isPublished="true">
      <metaDescription><![CDATA[This is the Articles section]]></metaDescription>
      <metaKeywords><![CDATA[Articles Section]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Articles1]]></articlesTitle>
      <articlesBodyText><![CDATA[<p id="6c1d" class="graf graf--p graf-after--h2">This is the article section.</p>]]></articlesBodyText>
      <articlesItem id="1074" key="cb2035cd-8841-4e51-85fb-acb4d8ea2a72" parentID="1073" level="3" creatorID="0" sortOrder="0" createDate="2018-03-21T13:30:52" updateDate="2018-03-21T20:35:15" nodeName="The hierarchy of needs in virtual reality development" urlName="the-hierarchy-of-needs-in-virtual-reality-development" path="-1,1057,1073,1074" isDoc="" nodeType="1072" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1071" nodeTypeAlias="articlesItem" isPublished="true">
        <metaDescription><![CDATA[The hierarchy of needs in virtual reality development]]></metaDescription>
        <metaKeywords><![CDATA[The hierarchy of needs in virtual reality development]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContents><![CDATA[<p id="6c1d" class="graf graf--p graf-after--h2">There’s a certain anxiety in the VR community that surfaces in many conference panels and interviews with industry leaders: plenty of veterans are worried that this latest flowering of the technology will end with the same commercial disappointment that we saw in previous decades. This is often framed in terms of<span> </span><em class="markup--em markup--p-em">quality</em>, the fear being that VR systems and content will be pushed into the mainstream market before the kinks are worked out. Users will have unpleasant, confusing, or underwhelming first experiences, and the whole sector will suffer another) fatal backlash.</p>
<p class="graf graf--p graf-after--h2"><img style="width: 500px; height: 376.65463297232253px;" src="/media/1001/1_-yw-cbauba3rqp2pzkfesg.png?width=500&amp;height=376.65463297232253" alt="" data-udi="umb://media/6f0ba477a7d44007b5880e629bf64925" /></p>
<p id="1421" class="graf graf--p graf-after--p">But what does quality mean in VR? Can we break this concept down into smaller pieces? Who is responsible for each aspect of quality, and what parts of the technology stack are implicated in each one? Most importantly, how can a better understanding of these issues help us to produce more effective and successful VR experiences?</p>]]></articleContents>
        <articleTitle><![CDATA[The hierarchy of needs in virtual reality development]]></articleTitle>
      </articlesItem>
      <articlesItem id="1076" key="5cd6a530-26dd-45b6-a253-67364707c03d" parentID="1073" level="3" creatorID="0" sortOrder="1" createDate="2018-03-21T13:32:36" updateDate="2018-03-21T20:35:17" nodeName="Speculations on neuro-motivated design for VR" urlName="speculations-on-neuro-motivated-design-for-vr" path="-1,1057,1073,1076" isDoc="" nodeType="1072" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1071" nodeTypeAlias="articlesItem" isPublished="true">
        <metaDescription><![CDATA[Speculations on neuro-motivated design for VR]]></metaDescription>
        <metaKeywords><![CDATA[Speculations on neuro-motivated design for VR]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContents><![CDATA[<p id="86c4" class="graf graf--p graf--leading">Humans are really good at understanding, moving around, and solving problems in three-dimensional environments. We do so effortlessly, from an early age, whereas any form of logical problem-solving imposes a much higher cognitive load and must be learned with great effort and frustration. This is just one way of stating<span> </span><a rel="nofollow noopener" href="https://en.wikipedia.org/wiki/Moravec%27s_paradox" target="_blank" class="markup--anchor markup--p-anchor" data-href="https://en.wikipedia.org/wiki/Moravec%27s_paradox">Moravec’s paradox</a>.</p>
<p class="graf graf--p graf--leading"><img style="width: 500px; height: 315.38461538461536px;" src="/media/1002/1_t_fqdnulbibpqmk9dv-nfa.png?width=500&amp;height=315.38461538461536" alt="" data-udi="umb://media/a11f5e2cafd44ec997d8bbe125bad738" /></p>
<p id="4baa" class="graf graf--p graf-after--p">One great promise of VR is that it will allow us to unlock our amazing spatiotemporal problem-solving capabilities within immersive environments that we create from the ground up— and therefore allow us to find solutions easily, even in domains that have presented great challenges in the past. But it’s not obvious how to create these environments, and doing so will require articulating and mastering some new design principles.<img style="width: 0px; height: 0px;" src="/nothing.jpg" alt="" data-udi="umb://media/a11f5e2cafd44ec997d8bbe125bad738" /></p>]]></articleContents>
        <articleTitle><![CDATA[Speculations on neuro-motivated design for VR]]></articleTitle>
      </articlesItem>
      <articlesItem id="1078" key="5448a0bd-ed80-441e-a5a3-4ed9f812068d" parentID="1073" level="3" creatorID="0" sortOrder="2" createDate="2018-03-21T13:33:50" updateDate="2018-03-21T20:35:19" nodeName="Analyzing VR as a computing platform" urlName="analyzing-vr-as-a-computing-platform" path="-1,1057,1073,1078" isDoc="" nodeType="1072" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1071" nodeTypeAlias="articlesItem" isPublished="true">
        <metaDescription><![CDATA[Analyzing VR as a computing platform]]></metaDescription>
        <metaKeywords><![CDATA[Analyzing VR as a computing platform]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContents><![CDATA[<p id="567d" class="graf graf--p graf--leading">VR clearly has a big future in games and interactive entertainment. For many folks, that’s plenty — they’ve been waiting to jack in for years. But there’s a larger story waiting in the wings, which is that VR has the potential to become a genuinely new computing platform, one that will reconfigure our world as deeply as mobile computing.</p>
<p class="graf graf--p graf--leading"><img style="width: 0px; height: 0px;" src="/nothing.jpg" alt="" data-udi="umb://media/299032fcebae440fad12680421ca54e2" /><img style="width: 500px; height: 375px;" src="/media/1003/1_evvj3kqz_jweyarratr6vg.png?width=500&amp;height=375" alt="" data-udi="umb://media/299032fcebae440fad12680421ca54e2" /></p>
<p id="b59d" class="graf graf--p graf-after--p">While this broader promise has been obvious for decades, and has figured prominently in fictional accounts of VR, the actual path to widespread adoption and market impact is a lot murkier. What will be the killer app? Which use cases will break into the mainstream earlier, and which will lag behind?</p>]]></articleContents>
        <articleTitle><![CDATA[Analyzing VR as a computing platform]]></articleTitle>
      </articlesItem>
    </articlesMain>
    <projectsOverview id="1099" key="7206d20d-7639-4a0d-acc6-29cc848b68c9" parentID="1057" level="2" creatorID="0" sortOrder="2" createDate="2018-03-21T18:41:31" updateDate="2018-03-21T21:35:39" nodeName="Projects" urlName="projects" path="-1,1057,1099" isDoc="" nodeType="1093" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1092" nodeTypeAlias="projectsOverview" isPublished="true">
      <metaDescription><![CDATA[This is the projects page]]></metaDescription>
      <metaKeywords><![CDATA[This is the projects page]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>This is the projects section</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectItem id="1101" key="b1bdd2ae-bc8d-41dc-b034-19cab9aad7c7" parentID="1099" level="3" creatorID="0" sortOrder="0" createDate="2018-03-21T18:44:05" updateDate="2018-03-21T21:46:42" nodeName="From product design to virtual reality" urlName="from-product-design-to-virtual-reality" path="-1,1057,1099,1101" isDoc="" nodeType="1095" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1094" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[From product design to virtual reality]]></metaDescription>
        <metaKeywords><![CDATA[From product design to virtual reality]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p id="2eff" class="graf graf--p graf-after--h4">I am a product designer at Google, and I joined the company through Sparrow, a French startup that got acquired on July 20, 2012. Since then, I worked with the Gmail team to build from scratch a flagship product that became<span> </span><a rel="nofollow noopener" href="http://www.google.com/inbox/" target="_blank" class="markup--anchor markup--p-anchor" data-href="http://www.google.com/inbox/">Inbox by Gmail</a>. It shipped on October 22, 2014.</p>
<p id="ab1b" class="graf graf--p graf-after--p">I designed productive applications for a few years, and I felt like I reached a tipping point. I wanted to expand my skill set, learn new things every day and get better at something I’ve never touched. I needed new challenges to reboot myself by leaving my comfort zone.</p>
<p class="graf graf--p graf-after--p"><img style="width: 0px; height: 0px;" src="/nothing.jpg" alt="" data-udi="umb://media/2dd82131ef064462a3916c5a25ca2a9f" /><img style="width: 500px; height: 367.5px;" src="/media/1004/1_y-x1o-mzzjnqiov2pzw3pg.png?width=500&amp;height=367.5" alt="" data-udi="umb://media/2dd82131ef064462a3916c5a25ca2a9f" /></p>
<p id="5d23" class="graf graf--p graf-after--p">I got interested in virtual reality around the Oculus Kickstarter period because of the immersiveness and endless possibilities that came with it. There is nothing more exciting than building for a new medium and exploring an uncharted territory.</p>
<p id="8bc2" class="graf graf--p graf-after--p">I joined the Google Cardboard and Virtual Reality team on April 17, 2015. Thanks to<span> </span><a rel="nofollow noopener" href="https://twitter.com/claybavor" target="_blank" class="markup--anchor markup--p-anchor" data-href="https://twitter.com/claybavor">Clay Bavor</a><span> </span>and<span> </span><a rel="nofollow noopener" href="https://twitter.com/jonwiley" target="_blank" class="markup--anchor markup--p-anchor" data-href="https://twitter.com/jonwiley">Jon Wiley</a><span> </span>for this great opportunity.</p>]]></projectDescription>
        <projectTitle><![CDATA[From product design to virtual reality]]></projectTitle>
        <projectStatus>42</projectStatus>
      </projectItem>
      <projectItem id="1114" key="a7d59960-c81e-48aa-b4c2-d61694ecf7a1" parentID="1099" level="3" creatorID="0" sortOrder="1" createDate="2018-03-21T21:30:46" updateDate="2018-03-23T14:19:20" nodeName="Designing for virtual reality" urlName="designing-for-virtual-reality" path="-1,1057,1099,1114" isDoc="" nodeType="1095" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1094" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[Designing for virtual reality]]></metaDescription>
        <metaKeywords><![CDATA[Designing for virtual reality]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><strong>Virtual reality.</strong><span> </span>It’s an experience that’s been around since the mid­ 80s, but technology always seemed to hold it back. The advances in smartphones and related technologies has finally brought the incredible potential of VR within reach. Now, we’re in the midst of a virtual reality revolution.</p>
<p><img style="width: 0px; height: 0px;" src="/nothing.jpg" alt="" data-udi="umb://media/f85ff821fecf45768199b1744a85f4ac" /><img style="width: 500px; height: 244.140625px;" src="/media/1007/cardboard.png?width=500&amp;height=244.140625" alt="" data-udi="umb://media/f85ff821fecf45768199b1744a85f4ac" /></p>
<p>From high-end platforms that cost thousands of dollars to smartphone-run systems, the surface of designing for VR has just barely been scratched. Essentially, it’s a wild west, ripe for exploration and new ideas, and Google’s kicking off the conversation.</p>]]></projectDescription>
        <projectTitle><![CDATA[Designing for virtual reality]]></projectTitle>
        <projectStatus>43</projectStatus>
      </projectItem>
      <projectItem id="1116" key="8fb25f9a-fb01-47e7-9654-69e504d4eb2d" parentID="1099" level="3" creatorID="0" sortOrder="2" createDate="2018-03-21T21:32:28" updateDate="2018-03-23T14:18:33" nodeName="The fundamentals of user experience in virtual reality" urlName="the-fundamentals-of-user-experience-in-virtual-reality" path="-1,1057,1099,1116" isDoc="" nodeType="1095" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1094" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[The fundamentals of user experience in virtual reality]]></metaDescription>
        <metaKeywords><![CDATA[The fundamentals of user experience in virtual reality]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>With the ubiquity of<span> </span><a rel="noopener" href="https://unity3d.com/" target="_blank">Unity</a><span> </span>and<span> </span><a rel="noopener" href="https://www.unrealengine.com/" target="_blank">Unreal</a><span> </span>being used in traditional game development, it's tempting for experienced devs to say to themselves, 'Why shouldn't I make a VR game?' After all- it's an emerging market and even tired and worn out concepts can become fresh and new when built for VR.</p>
<p><img style="width: 0px; height: 0px;" src="/nothing.jpg" alt="" data-udi="umb://media/2220d2f896ba4dd1bf99a831c4a68603" /><img style="width: 500px; height: 268.5px;" src="/media/1008/download.jpg?width=500&amp;height=268.5" alt="" data-udi="umb://media/2220d2f896ba4dd1bf99a831c4a68603" /></p>
<p><strong>Building for VR is not the same as building for desktop or console gaming though...</strong></p>
<p>There are a lot of really fundamental concepts that change when you move to building for VR. So many, in fact, that no one single article will probably cover them all. But we will attempt to go through some of the biggest considerations that we've learned at Block Interval as we've switched from making desktop games to VR games.</p>
<h1>COMFORT</h1>
<p>This is the one we've spent the most time researching. Comfort is the next evolution of user experience- and any game without comfort options in the menu is going to get a thumbs down from users. Some users have iron stomachs, but some are extremely sensitive to any kind of movement in VR. For those weak stomachs, you will need to provide lots of ways to tweak the experience. For example, providing a way for users to enter 'blink mode' (essentially eliminating the animation between points while moving), will ensure that even the weakest stomachs will be able to play your game. Alternate control schemes, supporting as many input devices as possible, and doing lots and lots of testing will be just some of the ways you can make your players experience more comfortable.</p>]]></projectDescription>
        <projectTitle><![CDATA[The fundamentals of user experience in virtual reality]]></projectTitle>
        <projectStatus>40</projectStatus>
      </projectItem>
      <projectItem id="1121" key="28133b36-f43b-4260-b135-dfe0c9ee5732" parentID="1099" level="3" creatorID="0" sortOrder="3" createDate="2018-03-23T14:21:14" updateDate="2018-03-23T14:46:37" nodeName="Going after a new VR Navigation System" urlName="going-after-a-new-vr-navigation-system" path="-1,1057,1099,1121" isDoc="" nodeType="1095" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1094" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[Going after a new VR Navigation System]]></metaDescription>
        <metaKeywords><![CDATA[Going after a new VR Navigation System]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p id="fb5a" class="graf graf--p graf--leading">Working in<span> </span><strong class="markup--strong markup--p-strong">Virtual Reality (VR)</strong>, and even more in<span> </span><strong class="markup--strong markup--p-strong">WebVR<span> </span></strong>(browser-based VR) is very exciting, because we are at the edge of a new technology where everything has to be invented. VR is a whole<span> </span><strong class="markup--strong markup--p-strong">new medium</strong>, and as for the start of the mobile era a few years ago, we have to decide what will the new behaviors be.</p>
<p class="graf graf--p graf--leading"><img style="width: 0px; height: 0px;" src="/nothing.jpg" alt="" data-udi="umb://media/1ad1927069604654ba20a6f719168391" /><img style="width: 500px; height: 363.125px;" src="/media/1009/1_vyqxbrybjc89pkekact4bq.jpeg?width=500&amp;height=363.125" alt="" data-udi="umb://media/1ad1927069604654ba20a6f719168391" /></p>
<p id="e6f5" class="graf graf--p graf-after--p"><strong class="markup--strong markup--p-strong">VR User Experience/User Interface(UX/UI)</strong><span> </span>is a big part of it. Some great designers in big companies are working on solutions, I encourage you to read this article from our UX/UI designer at<span> </span><a rel="nofollow noopener" href="http://www.beloola.com/" target="_blank" class="markup--anchor markup--p-anchor" data-href="http://www.beloola.com">Beloola</a><span> </span>which sums up some of those works :<span> </span><a rel="noopener" href="https://medium.com/beloola-all-our-news-updates/5-lessons-i-learned-from-designing-the-vrui-of-beloola-754f16062c0b" target="_blank" class="markup--anchor markup--p-anchor" data-href="https://medium.com/beloola-all-our-news-updates/5-lessons-i-learned-from-designing-the-vrui-of-beloola-754f16062c0b">“5 lessons I learned from designing the VRUI of Beloola”</a></p>
<p id="1d24" class="graf graf--p graf-after--p">On the other hand, there’s the big question about the<span> </span><strong class="markup--strong markup--p-strong">navigation system</strong>. The user is now totally immersed in the experience, and that’s why accessing the classic peripherals from a computer have become very difficult.</p>]]></projectDescription>
        <projectTitle><![CDATA[Going after a new VR Navigation System]]></projectTitle>
        <projectStatus>43</projectStatus>
      </projectItem>
    </projectsOverview>
    <sitemap id="1119" key="764167ff-345e-4260-8f9a-f42e3f0e0c64" parentID="1057" level="2" creatorID="0" sortOrder="5" createDate="2018-03-21T22:04:25" updateDate="2018-03-23T14:14:09" nodeName="Sitemap" urlName="sitemap" path="-1,1057,1119" isDoc="" nodeType="1118" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1117" nodeTypeAlias="sitemap" isPublished="true">
      <metaDescription><![CDATA[This is a sitemap of the website]]></metaDescription>
      <metaKeywords><![CDATA[This is a sitemap of the website]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </sitemap>
    <contactPage id="1149" key="f418bdbe-ebed-4ee3-bec8-a8be6eba56c3" parentID="1057" level="2" creatorID="0" sortOrder="7" createDate="2018-03-24T08:31:22" updateDate="2018-03-24T09:25:54" nodeName="Contact Us" urlName="contact-us" path="-1,1057,1149" isDoc="" nodeType="1108" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1107" nodeTypeAlias="contactPage" isPublished="true">
      <metaDescription><![CDATA[This is the contact page]]></metaDescription>
      <metaKeywords><![CDATA[This is the contact page]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <grid><![CDATA[{
  "name": "Contact Page",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Contacts",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Contact Us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1104,
                    "udi": "umb://media/55bd518c19774b3abd031ac3e8e91ff7",
                    "image": "/media/1006/contact-us-1908762_960_720.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p>Vision</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p>People</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p>Skills</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Contacts",
          "hasConfig": false,
          "id": "dddd0da4-98c1-efd2-ec91-82d46c83ec16"
        }
      ]
    }
  ]
}]]></grid>
    </contactPage>
    <login id="1154" key="c68e8dd7-2960-4b52-ba67-ef2b553c24c3" parentID="1057" level="2" creatorID="0" sortOrder="8" createDate="2018-03-24T09:05:45" updateDate="2018-03-24T09:05:49" nodeName="Login" urlName="login" path="-1,1057,1154" isDoc="" nodeType="1152" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1151" nodeTypeAlias="login" isPublished="true">
      <metaDescription><![CDATA[This is the login page]]></metaDescription>
      <metaKeywords><![CDATA[This is the login page]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <login id="1155" key="15a039c5-cfb3-4001-aed4-39939e64b0d4" parentID="1057" level="2" creatorID="0" sortOrder="9" createDate="2018-03-24T09:07:50" updateDate="2018-03-24T09:07:50" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1057,1155" isDoc="" nodeType="1152" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1151" nodeTypeAlias="login" isPublished="true">
      <metaDescription><![CDATA[Forbidden Access]]></metaDescription>
      <metaKeywords><![CDATA[Forbidden Access]]></metaKeywords>
      <umbracoNaviHide>1</umbracoNaviHide>
    </login>
    <members id="1158" key="1f7b1d90-ffcb-4514-aa82-8d62a4cae4d5" parentID="1057" level="2" creatorID="0" sortOrder="10" createDate="2018-03-24T09:22:27" updateDate="2018-03-24T09:22:29" nodeName="Members" urlName="members" path="-1,1057,1158" isDoc="" nodeType="1157" creatorName="Lukas Klinga" writerName="Lukas Klinga" writerID="0" template="1156" nodeTypeAlias="members" isPublished="true">
      <metaDescription><![CDATA[This is the members page]]></metaDescription>
      <metaKeywords><![CDATA[This is the members page]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
  </homepage>
</root>